wheel==0.45.1
pandas==2.2.3
jupyter==1.1.1
numpy==2.2.4
matplotlib==3.10.1
seaborn==0.13.2
xgboost==3.0.0
python-dotenv==1.1.0
lightgbm==4.6.0
catboost==1.2.8
Flask==3.0.2
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.30
Flask-Migrate==4.1.0
joblib==1.5.1 
scikit-learn==1.7.0
threadpoolctl==3.6.0
flask-cors==6.0.0
shopifyapi==12.3.0
hdbscan==0.8.40
annotated-types==0.7.0 
fastapi==0.115.12 
pydantic==2.11.5 
pydantic-core==2.33.2 
starlette==0.46.2 
typing-inspection==0.4.1  
